.option {
    background-color: #17a2b8;
    border: 1px solid #1e728c;
    width: 248px;
    height: 42px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.option:hover, .option:focus {
    background-color: #117a8b;
    border-color: #10707f;
}