.header {
    font-size: 36px;
    background-color: #f2f2f2;
    border: solid 1px #e6e6e6;
    margin-top: 0;
    text-align: center;
    padding: 24px;
}

.option-groups {
    display: flex;
    justify-content: center;
}

.btn-groups {
    display: flex;
    justify-content: center;
}

.btn-groups .btn {
    margin: 0 15px;
}

.timer-text {
    font-size: 96px;
    text-align: center;
}
